nav {
  background-color: var(--background);
}

a {
  color: var(--light);
  border-bottom: 5px solid var(--background);
  margin-right: 10px;
}

a:hover {
  text-decoration: none;
  color: var(--primary);
  transition: all .1s ease-in;
}

.active {
  border-bottom: 5px solid var(--primary);
  color: var(--primary);
}
