/* BOOTSTRAP OVERRIDES */
:root {
  --blue: hsl(200, 72%, 31%);
  --pink: hsl(360, 77%, 78%);
  --red: hsl(360, 85%, 25%);
  --orange: hsl(22, 74%, 38%);
  --yellow: hsl(42, 78%, 60%);
  --green: hsl(83, 70%, 34%);
  --cyan: hsl(200, 54%, 49%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 60%);
  --gray: hsl(0, 0%, 38%);
  --gray-dark: hsl(0, 0%, 23%);
  --background: hsl(212, 33%, 16%);
  --background-dark: hsl(210, 30%, 9%);
  --primary: hsl(103, 21%, 44%);
  --secondary: hsl(83, 74%, 27%);
  --success: hsl(83, 70%, 34%);
  --info: hsl(200, 54%, 49%);
  --warning: hsl(42, 63%, 48%);
  --danger: hsl(360, 72%, 38%);
  --light: hsl(206, 14%, 59%);
  --dark: hsl(0, 0%, 13%);
}
