/* You can add global styles to this file, and also import other style files */
@import 'overrides.css';

a {
  color: var(--primary);
}

a:hover {
  text-decoration: none;
  color: var(--primary-dark);
  transition: all .1s ease-in;
}
